.container {
    margin: 0 auto;
    text-align: center;
}
.container p{
    color: whitesmoke;
    font-style: italic;
}
.form-check,  .form-check > p
{
    color: black;
    font-style: normal;
    text-align: left;
}